<!--
  Angular 2 way
-->
<div *ngIf="coursesCount()">
  <h1>List of courses</h1>
</div>

<div *ngIf="courses.length==0">

  <h2>No courses</h2>
</div>

<!--
  Angular 4 way
-->
<div *ngIf="coursesCount(); else noCourses">

  <h2>List of courses</h2>
</div>
<ng-template #noCourses>

  <h1>No courses</h1>
</ng-template>
<!--
  Another way in Angular 4 of writing the same code
-->
<div *ngIf="coursesCount(); then coursesList else noCoursesPresent"></div>
<!--1st Template-->
<ng-template #coursesList>
  <h2>List of courses</h2>
</ng-template>
<!--2st Template-->
<ng-template #noCoursesPresent>
  <h1>No courses</h1>
</ng-template>

<!--
  [hidden] =>equivalent to ng show and ng hide
-->
<div [hidden]="courses.length>0">
<h1> No courses present</h1> 
</div>

<!--ngSwitch-->
<ul class="nav nav-pills">
    <li [class.active]="viewMode=='map'">
      <a  (click)="viewMode='map'"
      >Map View</a>
    </li>
    <li [class.active]="viewMode=='list'">
      <a  (click)="viewMode='list'"
      >List View</a>
    </li>
  </ul>
  <div [ngSwitch]="viewMode">
      <div 
      *ngSwitchCase="'map'"
      >Map View Component</div>
      <div
      *ngSwitchCase="'list'"
      >List View Component</div>
      <div
      *ngSwitchDefault
      >Default View Component</div>
      
  </div>

  <table class="table table-stripped">
    <tr>
      <th>S.NO</th>
      <th>Name</th>
      <th>Duration</th>
    </tr>
    <tr *ngFor="let course of coursesData; trackBy:trackCourse ;index as i ;even as isEvenRow"  [class.active]="isEvenRow==true">
      <td>{{i}}</td>
      <td>{{course.name}}</td>
      <td>{{course.duration}}</td>
      <td><button class="btn btn-danger" (click)="onDelete(course)">Delete</button></td>
    </tr>
  </table>
<div class="from-group">
    <label for="">Course Name:</label>
    <input class="form-control" type="text" name="" id=""><br>
    <label for="">Course Duration:</label>
    <input class="form-control" type="text" name="" id=""><br>
    <button class="btn btn-success" (click)="onAdd()">Add Courses</button>
</div>
  

