<!-- <courses-directive></courses-directive>

<admin></admin> -->

<!-- <input type="text" name="" id="" appInputFormat [format]="'uppercase'">

<!--
    OR below way
-->

<!--<input type="text" name="" id="" [appInputFormat]="'lowercase'"> -->

<!-- <contact-form></contact-form> -->

<!-- <signup-form></signup-form> -->

<!-- <posts></posts> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!--Below Used Router Link , 
                so that the whole page is not refreshed and angular kicks in and load only changed HTML
                Seccondly using routerLinkActive directive to set the active class of bootstrap on active link
                Thirdly we used [routerLinkActiveOptions]="{ exact:true } so that the default path is not always 
                selected even when other tabs are selected ie:Our Home link is always active even when we click other links 
             -->
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/servers">Servers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/users">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
